/* Background */
.login-body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url('https://images.unsplash.com/photo-1605902711622-cfb43c4437d3?ixlib=rb-4.0.3&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
}

/* Card Box */
.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
}

.login-card h1 {
  color: #003366;
  margin-bottom: 10px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.login-card button {
  background: linear-gradient(to right, #0050b3, #003366);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.password-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-wrapper input {
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.password-wrapper span {
  padding: 0 12px;
  cursor: pointer;
  font-size: 20px;
}
